* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#33023c,#000000);
    background-attachment: fixed;
}


.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
}
/*/estrellas y animacion*/  
.contenedor.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
    
}

/*animecion strellas*/
 @keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    
    }
    
    10%,90%{
        
        opacity: 1;
    }
    
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}

.gato{
    position: absolute;
    top:  100px;
    left: 50px;
    width: 300px;
    height: 300px;
    animation: gato  30s linear infinite ;
}

.cat1{
    position: absolute;
    top:0;
    height:100px;
    width: 100px;
    animation: gato  30s linear infinite ;
    animation-delay: 2s;
}

.cat2{
    position: absolute;
    top: 575px;
    left:100px;
    height: 100px;
    width: 100px;
    
}
.cat3{/*gato cohete*/
    position: absolute;
    left:700px;
    top: 200px;
   
    
    
    
}




.planet{
    position: absolute;
    bottom:-50px;
    left: -100px;
    height: 360px;
    width: 360px;
    animation: planet 50s infinite;
    animation-delay: 1s;
   
    
}

.asteroid{
    width: 100px;
    height: 100px;
    float: right;
    animation: planet 30s infinite
}

@keyframes planet {
    0%{
        transform: rotate(0);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes gato{
    0%{
        transform: translateX(0px);
        
    }
    
    90%,100%{
        transform: translateX(calc(100vw + 200px));
        
    }
    
}